﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:#fefefe;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.card {
    height:100%;
    overflow: hidden;
    border:none;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-body {
    background-color: rgba(46,46,46,0.8);
    color: rgba(255,255,255,0.8);
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-img-overlay {
    /*background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0) 176px);*/
    background-image: linear-gradient( 180deg, transparent 0%, rgba(46,46,46,0.8) 62.5%, #2e2e2e 100% );
}.card-img{
     height:100%;
     object-fit:cover;
 }
 picture{
     height:100%;
 }
 .container{
     max-width:1300px;
 }
 .item{
     padding:5px;
     height:300px;
     width:20%;
 }
.item:nth-child(2n + 1), .item:nth-child(5n){
    width: 20%;
}
.item:nth-child(3n), .item:nth-child(6n) {
    width: 40%;
}
.item:nth-child(12n) {
    width: 20%;
}
.location-stamp {
    color: #fff !important;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 12px;
    letter-spacing: -.5px;
    position: relative;
}