﻿@model IEnumerable<CrawlerNews.Models.News>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="row" id="list-item">
        @foreach (var item in Model)
        {
        <div class="item">
            <div class="card">
                @if (!String.IsNullOrEmpty(item.Thumbnail))
                {
                    <picture>
                        @Html.Raw(item.Thumbnail)
                    </picture>
                    <div class="card-img-overlay d-flex">
                        <h5 class="card-title align-self-end mb-0"><a class="text-white" href="@item.Link" target="_blank">@item.Title</a></h5>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-white" href="@item.Link" target="_blank">@item.Title</a></h5>
                        <p class="card-text">@Html.Raw(item.ShortContent)</p>
                    </div>
                }

            </div>
        </div>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function loadImage(){
            var img = document.getElementsByClassName("lazy");
            for (let i = 0; i < img.length; i++) {
                if (img[i].getAttribute("data-src") != null){
                    img[i].src = img[i].getAttribute("data-src");
                }
                img[i].style = "";
                img[i].classList.add("card-img");
            }
        }

        function generateItem(item){
            var el = `<div class="item"><div class="card">`;
            if (item.thumbnail != null || item.thumbnail != "")
                {
                    el += `<picture>
                        ${item.thumbnail}
                    </picture>
                    <div class="card-img-overlay d-flex">
                        <h5 class="card-title align-self-end mb-0"><a class="text-white" href="${item.link}" target="_blank">${item.title}</a></h5>
                    </div>`;
                }
                else
                {
                    el += `<div class="card-body d-flex justify-content-end flex-column">
                        <h5 class="card-title"><a class="text-white" href="${item.link}" target="_blank">${item.title}</a></h5>
                        <p class="card-text">${item.shortContent}</p>
                    </div>`;
                }
            el += `</div></div>`;
            return el;
        }

        function loadMoreItem(page){
            $.get("@Url.Action("LoadMore", "Home")" + "/" + page, function(data){
                data.forEach(item => {
                    $("#list-item").append(generateItem(item));
                })
                loadImage();
            })
        }

        $("document").ready(function(){
            loadImage();
        });

        var page = 2;
        var maxPage = Math.round(@ViewData["count"] / 24) + 1;
        $(window).scroll(function () {
            if($(window).scrollTop() >= ($(document).height() - $(window).height() - 5) && page <= maxPage){
                loadMoreItem(page);
                page++;
            }
        });
    </script>
}