﻿@model IEnumerable<CrawlerNews.Models.News>
@{
    ViewData["Title"] = "Search Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="row" id="list-item">
        @foreach (var item in Model)
        {
        <div class="item">
            <div class="card">
                @if (!String.IsNullOrEmpty(item.Thumbnail))
                {
                    <picture>
                        @Html.Raw(item.Thumbnail)
                    </picture>
                    <div class="card-img-overlay d-flex">
                        <h5 class="card-title align-self-end mb-0"><a class="text-white" href="@item.Link" target="_blank">@item.Title</a></h5>
                    </div>
                }
                else
                {
                    <div class="card-body d-flex justify-content-end flex-column">
                        <h5 class="card-title"><a href="@item.Link" target="_blank">@item.Title</a></h5>
                        <p class="card-text">@Html.Raw(item.ShortContent)</p>
                    </div>
                }

            </div>
        </div>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function loadImage(){
            var img = document.getElementsByClassName("lazy");
            for (let i = 0; i < img.length; i++) {
                if (img[i].getAttribute("data-src") != null){
                    img[i].src = img[i].getAttribute("data-src");
                }
                img[i].style = "";
                img[i].classList.add("card-img");
            }
        }

        $("document").ready(function(){
            loadImage();
        });

    </script>
}